# Ignore node_modules from frontend
node_modules/


# Ignore build outputs
dist/
build/
dist/

# Ignore local environment files
.env
.env.*
# But allow the production one for frontend
!.env.production

# Ignore git files
.git/
.gitignore

# Ignore logs and temp files
*.log
*.pyc
__pycache__/